.search-results {
	padding-top: 20px;
}

.row-top-padding {
	padding-top: 25px;
}

h1 {
	padding-top: 50px;
}

body {
	background-color: #FFFAF9;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
